<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:java="http://www.thymeleaf.org/extras/java8">
<head>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <title>All Reviews</title>
  <th:import var="java" className="java.lang.Math" />
  <th:import var="reviewClass" class="com.example.codeupspringcapstone.models.Review" />
</head>
<body class="all-reviews-page">
<div th:unless="${#authorization.expression('isAuthenticated()')}">
  <nav th:insert="~{partials/nav-bar.html :: nav-bar}"></nav>
</div>
<div th:if="${#authorization.expression('isAuthenticated()')}">
  <nav th:insert="~{partials/nav-bar.html :: nav-bar2}"></nav>
</div>
<div class="all-reviews-row" style="display: flex">

  <div class="-all-reviews-col">
    <div style="justify-content: center; display: flex">
    <h1 class="visited-text">Your Visited Breweries</h1>
  </div>
    <div class="container all-reviews-container">
      <th:block th:each="review : ${allReviews}">
        <div class="all-reviews-card">
          <div class="card-stuff">
            <img th:src="${review.image}" class="review-image">
            <p class="rating" th:text="${review.rating}"></p>
            <h5 class="card-title" th:text="${review?.description}"></h5>
            <button class="card-button">
              <a th:href="@{/view-review/{id}(id=${review.id})}">View Review</a>
            </button>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
</body>
</html>