@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*TODO:Font Family Copy Pastes*/
/*font-family: 'Playfair Display SC', serif;*/
/*font-family: 'Trirong', serif;*/

:root{
    /*--primary-color: #0C0A09;*/
    /*--secondary-color: #FDF5F2;*/
    /*--tertiary-color: #A47F6A;*/
    /*--quaternary-color: #9AA1B1;*/
    /*--new-color: #CDB5A7;*/
}
.index-page {
    border: 3px solid #8FA399;
    min-height: 100vh;
}
body {

    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

ul, li, h1, h2, h3, h4, h5, h6, p{
    font-family: 'Trirong', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Playfair Display SC', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;

}

/*Nav Bar Styling and Animations*/
nav {
    background-color: #9A8873;
    /*padding: 1rem;*/

    position: sticky;
    top: 0;
    z-index: 1000;
}


/*nav.a {*/
/*    color: #F0D397;*/
/*    text-decoration: none;*/
/*}*/

.inner-nav {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.nav-list {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding-left: 25px;
    padding-top: 50px;
    padding-right: 25px;
    display: flex;
    gap: clamp(0.5rem, 5vw, 2rem);
}
.nav-bar a.custom-link{
    text-decoration: none;
    color: #161513;
    /*text-shadow:2px 2px 2px #D17C19;*/
}
.nav-bar a.custom-link:hover{
    text-decoration: none;
    color: #161513;
    text-shadow:2px 2px 2px #D17C19;
}
.nav-bar3 .home-link-3 {
    text-decoration: none;
    color: #161513;
}

/* Style for the home button on hover */
.nav-bar3 .home-link-3:hover {
    text-decoration: none;
    color: #161513;
    text-shadow:2px 2px 2px #D17C19;
}

/*.logo {*/
/*    font-family: 'Playfair Display SC', serif;*/
/*    color: #fff;*/
/*    font-size: 50px;*/
/*    font-weight: 900;*/
/*}*/
.row-jumbo {
    display: flex;
    background-color: #EEFFDB;
    justify-content: space-evenly;
    align-items: center;
}

/*.container-jumbo {*/
/*    flex: 0 0 70%; !* Adjust the width of the jumbotron *!*/
/*}*/

.barrel-image-container {
    flex: 0 0 25%;
}
.container-jumbo {
    max-width: 50%;
    /*padding: 20px;*/
    background-color: #EEFFDB;
    flex: 0 0 70%;
    margin: 0;
}

.jumbotron {
    background-color: #2E3833;
    color: #F0D397;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.jumbotron h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.25em;
    margin-bottom: 20px;
}
.jumbotron a {
    color: inherit;
    text-decoration: none;
}

.jumbotron a:hover {
    color: inherit;
    text-decoration: none;
}

.btn-jumbotron {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #D17C19; /* Set the background color to green */
    color: #F0D397;
    border-color: #D17C19; /* Set the border color to green */
    text-decoration: none;
}

.btn-jumbotron:hover {
    color: #e5b34b;
    background-color: #ce7916; /* Set the hover background color to a darker green */
    border-color: #ce7916; /* Set the hover border color to a darker green */
    text-decoration: none;
}
.jumbo-hr{
    color: #D17C19;
}
.brewhop-logo{
    display: flex;
    /*position: relative;*/
    /*bottom: 20px;*/
    width: 150px;
    height: 150px;
}

/*Index.html styling*/
body {
    background-color: #EEFFDB;
}
.hero-top {
    /*display: flex;*/
    /*justify-content: start;*/
    /*padding-top: 100px;*/
    background-color: #EEFFDB;
    /*padding-bottom: 100px;*/
    /*margin-left: 50px;*/
    margin-right: 0;
}
.welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    width: 900px;
    height: 500px;
    border: 0;
    border-radius: 25px;
    overflow: hidden;
    text-space: 10px;
}
.footer{
    background-color: #9A8873;
    color: #161513;
    text-align: -webkit-center;
    padding-top: 10px;
}
.footer-list-image{
    display: flex;
    justify-content: center;
    margin-right: 300px;
}
.footer-list{
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    margin-right: 100px;
    display: flex;
    gap: clamp(0.5rem, 5vw, 2rem);
}
.footer a.footer-link{
    text-decoration: none;
    color: #161513;
    /*text-shadow:2px 2px 2px #D17C19;*/
}
.footer a.footer-link:hover{
    text-decoration: none;
    color: #161513;
    text-shadow:2px 2px 2px #D17C19;
}

.footer-image{
    width: 150px;
    height: 150px;
}
.footer-image:hover{
    text-decoration: none;
    color: #161513;
    text-shadow:2px 2px 2px #D17C19;
}
/*.footer-image:hover{*/
/*    opacity: 0.02%;*/
/*}*/
.footer-paragraph{
    color: #F0D397;
}
/*Genesis Style's*/
.video-full-width {
    width: 100%;
    display: block;
}
.profile-card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 550px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 15px;
}

.card-stuff-profile {
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

/*.pfp {*/
/*    background-color: white;*/
/*    margin-bottom: 10px;*/
/*}*/
.profile-page, .all-reviews-page{
    background-color: #EEFFDB;
    border: 3px solid #8FA399;

}
.all-reviews-container{
    display: flex;
}
.visited-text{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /*margin-left: 275px;*/
    color: #D17C19;
    font-size: 2rem;
    /*margin-left: 50px;*/

}
.username-h1,
.email-p {
    margin-bottom: 10px;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
   align-items: stretch;
    justify-content: space-evenly;
    max-width: 1000px;
    margin-left: 150px;
    margin-top: 50px;
}

.review-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 350px;
    margin-right: 20px; /* Add a margin between cards */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #2E3833;
    color: lightyellow;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    position: relative;
}
.review-description p{
    justify-content: center;
    color: #F0D397;
    width: 100%;
;

}
.review-card .card-stuff {
    flex: 1;
    padding: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-card img {
    height: 75%; /* Make the image take the full height of the container */
    width: 100%; /* Make the image take the full width of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}
.review-card:hover {
    transform: translateY(35px);
    box-shadow: 0 4px 8px rgba(139, 69, 19, 0.4), 0 0 10px rgba(244, 164, 96, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease; }
.user-reviews-text {
    display: flex;
    margin-bottom: -100px;
    /*!*position: relative;*!*/
    /*left: 430px;*/
    /*bottom: 600px;*/
}
.card-button, .view-all-button{
    background-color:#F0D397;
    color: #D17C19;
    text-decoration: none;
    border-radius: 4px;
}
.card-button:hover, .view-all-button:hover{
    background-color: #D17C19;
    color: #2E3833;
}
.all-reviews-btn{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    padding-top: 10px;
}
.card-main:hover {
    transform: translateY(35px); /* Adjust the desired amount of vertical lift on hover */
    box-shadow:  0 12px 24px rgba(139, 69, 19, 0.4), 0 0 10px rgba(244, 164, 96, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-main-profile {
    display: flex;
    max-width: 250px;
    height: 550px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #2E3833; /* Updated background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card-main-profile:hover {
    transform: translateY(35px); /* Adjust the desired amount of vertical lift on hover */
    box-shadow:  0 12px 24px rgba(139, 69, 19, 0.4), 0 0 10px rgba(244, 164, 96, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-main {
    display: flex;
    max-width: 400px;
    height: 350px;
    /* max-height: 600px; */ /* Remove or adjust this line */
    flex: 0 1 calc(25% - 20px);
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #2E3833;
    color: #F0D397;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-stuff {
    padding: 16px;
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis;
}
.card-stuff-profile {
    padding: 20px;
    overflow: hidden;
    text-align: center;
}
.span-username, .email-p{
    padding-top: 10px;
    color: #D17C19;
}
img {
    width: 100%; /* Make sure the images fill the container */
    height: auto; /* Maintain aspect ratio */
}

.card-title {
    font-size: 13px;
    margin-bottom: 8px;
}

.edit-profile-btn{
    position: absolute;
    bottom: 8px;
    left: 60px;
    display: block;
    padding: 8px;
    text-align: center;
    background-color:#F0D397;
    color: #D17C19;
    text-decoration: none;
    border-radius: 4px;
    }
    .edit-profile-btn:hover {
        background-color: #D17C19;
        color: #2E3833;
    }
    .circle {
        width: 100px;
        height: 100px;
        margin-left: 25%;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle::before {
        content: "\f007";
        font-family: 'FontAwesome'; /* Use a font icon library, like FontAwesome */
    font-size: 40px;
    color: #fff;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px); /* Adjust the initial position */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px); /* Adjust the initial position */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.card-main-profile,
.review-card {
    animation: slideInRight 0.5s ease-out forwards; /* Adjust the animation duration and timing function */
}

.card-main,
.card-main-profile {
    animation: slideIn 0.5s ease-out forwards; /* Adjust the animation duration and timing function */
}
/*.sign-in-page{*/
/*    background-color: #EEFFDB;*/
/*    border: 3px solid #8FA399;*/
/*}*/
.team-page, .about-page, .terms-page{
    display: flex;
    flex-direction: column;
    background-color: #EEFFDB;
    color: #D17C19;
}
.meet-the-team {
    display: flex;
    justify-content: space-around; /* or 'space-between' if you want space at the ends */
    background-color: #EEFFDB;
}
.team-image{
    width: 275px; /* Adjust the width as needed */
    height: auto; /* This ensures the aspect ratio is maintained */
    max-height: 300px; /* Limit the height to avoid excessive scaling */
    object-fit: cover;
}
.team-btns{
    padding-bottom: 25px;
}
.team-button {
    text-decoration: none;
    color: #161513;
    /*text-shadow:2px 2px 2px #D17C19;*/
}

.team-button:hover {
    text-decoration: none;
    color: #161513;
    text-shadow:2px 2px 2px #D17C19;
}

.team-button.github {
    text-decoration: none;
    color: #161513;
    /*text-shadow:2px 2px 2px #D17C19;*/
}

.team-button.github:hover {
    text-decoration: none;
    color: #161513;
    text-shadow:2px 2px 2px #D17C19;
}
.meet-title, .about-title{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    color: #2E3833;
}
.sign-in-page{
    background-color: #EEFFDB;
}
.terms-title{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.terms-text{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #2E3833;
    padding-top: 10px;
}
.scroll-box {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #2E3833;
    color: #D17C19;
    font-size: 20px;
}
.all-reviews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

.all-reviews-card {
    flex: 0 1 calc(20% - 20px);
    width: calc(20% - 20px);
    height: 375px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #2E3833;
    color: #F0D397;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.all-reviews-card img {
    height: 100%; /* Adjust the height as needed */
    width: 100%;
    object-fit: cover;
}

.all-reviews-card .card-stuff {
    padding: 16px;
    overflow: hidden;
}

.all-reviews-card .rating {
    margin-bottom: 8px;
}

.all-reviews-card .card-button {
    margin-top: auto; /* Align the button to the bottom of the card */
}

@media screen and (max-width: 1200px) {
    .container-jumbo {
        max-width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    /*nav {*/
    /*    width: 100%;*/
    /*    padding: 10px;*/
    /*    box-sizing: border-box;*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    z-index: 700;*/
    /*}*/
    .container-jumbo {
        max-width: 80%;
    }

    .jumbotron h1 {
        font-size: 2em;
    }

    .lead {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 700;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav-list li {
        padding: 10px;
    }

    .carousel-container {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: block;
        margin-top: 150px;
    }

    .carousel {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .video-slide {
        width: 100%;
        display: block;
        max-height: 100%;
    }

    .video-full-width {
        width: 100%;
        display: block;
    }
    .container-jumbo {
        margin-top: 20px;
        max-width: 90%;
    }

    .jumbotron h1 {
        font-size: 1.8em;
    }

    .lead {
        font-size: 1em;
    }
    .footer-list-image{
        position: relative;
        display: flex;
        left: 60px;
    }
    @media screen and (max-width: 425px) {
        .nav-list{
            font-size: 10px;
        }
        .brewhop-logo, .footer-image{
            width: 75px;
            height: 100px
        }
        .container-jumbo {
            max-width: 100%;
        }

        .jumbotron h1 {
            font-size: 1.5em;
        }

        .lead {
            font-size: 0.9em;
        }
        .footer-list-image{
            position: relative;
            display: flex;
            left: 100px;
        }
        .footer-list, .footer-paragraph{
            font-size: 10px;
            padding: 5px;
        }
        .carousel-container {
            width: 100%;
            position: relative;
            overflow: hidden;
            display: block;
            margin-top: 105px;
        }

        .carousel {
            position: relative;
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
        }

        .video-slide {
            width: 100%;
            display: block;
            max-height: 100%;
        }

        .video-full-width {
            width: 100%;
            display: block;
        }

    }

}
review-all-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-evenly;
    max-width: 1000px;
    margin-left: 150px;
    margin-top: 50px;
}
rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
