@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.sign-up-page {
    background-color: #EEFFDB;

    /*background-image: url("static/img/pexels-pixabay-159291.jpg");*/
}

.content-container {
    height: calc(100vh - 400px); /* Adjust height considering the nav bar height */
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /*opacity: 0.02%;*/
}

.card {
    background-color: #2E3833;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px; /* Adjusted width for better alignment */
}

h1 {
    color: black;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
.nav-bar3 .home-link-3 {
    text-decoration: none;
    color: #161513;
}

/* Style for the home button on hover */
.nav-bar3 .home-link-3:hover {
    text-decoration: none;
    color: #161513;
    text-shadow:2px 2px 2px #D17C19;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 75px; /* Fixed width for labels to align first letters */
    text-align: left;
    margin-right: 10px;
    color: #F0D397;
}

.form-group input {
    flex-grow: 1; /* input fields take up the remaining space */
    padding: 5px;
    border-radius: 10px;
    background-color: #f1f1f1f1;
    border: 1px solid #f1f1f1f1;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    /*color: #909090;*/
}
.card{
    color: #F0D397;
}
input[type="submit"] {
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    /*padding: 10px;*/
    margin-left: 95px;
    display: block;
    background-color: #F0D397;
    color: #D17C19;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    /*margin-top: 10px;*/
}

input[type="submit"]:hover {
    background-color: #D17C19;
    color: #2E3833;
}

input[type="submit"]:active {
    background-color: #F0D397; /* Change back to original color on click */
    color: #D17C19;
    text-decoration: none; /* Remove underline on click */
}
.error {
    color: red;
    font-size: 0.8em;
    margin-left: 130px; /* Align with input fields */
}

a {
    color: dodgerblue;
}
a.sign-in-link {
    /*background-color: #F0D397;*/
    color: #D17C19;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

a.sign-in-link:hover {
    /*background-color: #D17C19;*/
    color: #F0D397;
}
.account-text{
    padding-top: 10px;
}
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 700;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav-list li {
        padding: 10px;
    }

    .content-container{
        margin-top: 150px;
    }
    @media screen and (max-width: 425px) {
        .nav-list{
            font-size: 10px;
        }
        h1{
            font-size: 20px;
        }
        .content-container{
            width: auto;
            padding: 5px;
            margin-left: 5px;
        }
        .card{
            font-size: 14px;
            width: 75%;
        }
        .sign-up-button{
            display: flex;
            padding: 8px;
            margin-left: 80px;
            position: relative;
            right: 10px;
        }
        p{
            margin-top: 10px;
        }
    }
    @media screen and (max-width: 375px) {
        .nav-list{
            font-size: 10px;
        }
        .h1{
            display: flex;
            position: relative;
            left: 10px;
            font-size: 15px;
        }
        .content-container{
            width: auto;
            padding: 5px;
            /*margin-left: 5px;*/
            justify-content: center;
        }
        .card{
            font-size: 14px;
            width: 75%;
        }
        .sign-up-button{
            width: 65%;
            display: flex;
            padding: 8px;
            margin-left: 80px;
            position: relative;
            right: 15px;
        }
        p{
            margin-top: 10px;
        }
    }
}