<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
<header th:replace="~{partials/head.html :: header}"></header>
<body class="index-page">
<div class="wrapper">
    <div class="container">
        <div class="hero-top">
        <!--Navbar validation-->
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <nav th:insert="~{partials/nav-bar.html :: nav-bar}"></nav>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <nav th:insert="~{partials/nav-bar.html :: nav-bar2}"></nav>
        </div>


            <div class="carousel-container">
                <div class="carousel">
                    <div class="video-slide">
                        <video autoplay muted id="landingPageVideo" class="video-full-width">
                            <source th:src="@{/img/landingPageVideo.mp4}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-jumbo">
        <div class="container-jumbo">
            <div class="jumbotron">
                <h1 class="crafting-h1">Crafting Connections</h1>
                <p class="lead">Embark on a journey to discover the finest breweries. Unleash the power of our intuitive search tool to unveil your next favorite haven. Share your tales by crafting reviews. Join our brotherhood of beer aficionados and together, let's raise a toast to the art of brewing.</p>
                <hr class="jumbo-hr">
                <p>Cheers to the pursuit of the perfect pint!</p>
            </div>
        </div>
        <div class="jumbo-image-div">
        <img src="/img/barrels.png" class="jumbo-image" alt="barrels">
    </div>
    </div>
        <div class="footer">
            <div class="footer-list-image">
                <ul class="footer-list ">
                <li><a class="footer-link" th:href="@{/meet-the-team}">Meet the Team</a></li>
                <li><a class="footer-link"  th:href="@{/about-brewhop}">About BrewHop</a></li>
                <li><a class="footer-link"  th:href="@{/terms-of-service}">Terms of Service</a></li>
                 </ul>
                <a href="#" onclick="scrollToTop(); return false;">
                    <img src="/img/brewhop.png" class="footer-image" alt="footer-image">
                </a>
            </div>

            <p class="footer-paragraph">Embark on a journey of flavor and discovery. Your passport to the world of craft brews and global adventures.</p>

        </div>
    </div>

    <script>
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
        document.addEventListener('DOMContentLoaded', function () {
            // Get the video element
            var video = document.getElementById('landingPageVideo');

            // Play the video when the DOM is fully loaded
            if (video) {
                video.play().catch(function (error) {
                    console.error('Autoplay was blocked:', error);
                });
            }
        });
    </script>
</body>
</html>