<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Brewhop</title>
<!--    <header th:replace="partials/head.html :: header"></header>-->
<!--    <link rel="stylesheet" href="/css/footer.css">-->
    <link rel="stylesheet" href="/css/view-brewery.css">
</head>
<header th:replace="partials/head.html :: header"></header>

<body>
<div class="navbar">
    <nav th:unless="${#authorization.expression('isAuthenticated()')}">
        <div th:insert="~{partials/nav-bar.html :: nav-bar}"></div>
    </nav>
    <nav th:if="${#authorization.expression('isAuthenticated()')}">
        <div th:insert="~{partials/nav-bar.html :: nav-bar2}"></div>
    </nav>
</div>
<div class="container">
    <div class="search">
        <h2>Search Breweries </h2>

        <input type="text" id="breweryName" placeholder="Brewery Name">
        <input type="text" id="city" placeholder="City">
        <input type="text" id="state" placeholder="State">
        <select id="breweryType">
            <option value="">Select Brewery Type</option>
            <option value="micro">Micro</option>
            <option value="nano">Nano</option>
            <option value="regional">Regional</option>
            <option value="brewpub">Brewpub</option>
            <option value="large">Large</option>
            <option value="planning">Planning</option>
            <option value="bar">Bar</option>
            <option value="contract">Contract</option>
            <option value="proprietor">Proprietor</option>
            <option value="closed">Closed</option>
        </select>

        <button class="search-button" onclick="searchBreweries()">Search</button>
        <div class="brewery-cards-container">
            <!--<h2>Results</h2>-->
<!--            <div id="results"></div>-->
        </div>

<!--        <button onclick="searchBreweries()">Search</button>-->
        <button th:if="${#authorization.expression('isAuthenticated()')}" onclick="searchByCurrentLocation()">Search by
            Current Location
        </button>
        <div id="results"></div>


    </div>
    <div class="hero" id="hero">
        <div class="hero">
            <div class="hero-left">
                <h1>We are passionate about connecting you to the best breweries around.</h1>
                <p>Explore our easy-to-use search feature to discover your new favorite spot, and share your experiences by leaving reviews. Join our community of beer enthusiasts and let's celebrate the art of brewing together. Cheers to finding the perfect pint!</p>
            </div>
            <div class="hero-right">
                <img src="/img/hero.jpg" alt="Hero Image">
            </div>
        </div>
</div>

<script th:src="@{/js/brew.js}"></script>

</body>
</html>